<!DOCTYPE html>
<html>

<head>
  <title>BioImage Model Zoo</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="description" content="Deep learning models for bioimage analysis">
  <meta name="author" content="Wei OUYANG">
  <meta name="keywords" content="Bioimaging, image processing">
  <script src="/assets/vue.js"></script>
  <script src="/assets/dialog-polyfill.min.js"></script>
  <link rel="stylesheet" href="/assets/dialog-polyfill.min.css" />
  <link rel="stylesheet" href="/assets/material.blue-pink.min.css" />
  <script defer src="/assets/material.min.js"></script>
  <link rel="stylesheet" href="/src/style.css">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
  <script src="/assets/purify.min.js"></script>
</head>

<body>
  <div id="app">
    <!-- Always shows a header, even in smaller screens. -->
    
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- <a class="site-button mdl-button site-title" href="/">
            BioImage Model Zoo
          </a> -->
          <!-- Title -->
          <span class="site-title" @click="show_models=true">BioImage Model Zoo</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <span v-if="windows && windows.length>0" style="cursor: pointer;" class="mdl-chip mdl-chip--contact mdl-chip--deletable hide-small" href="#" @click="show_models=true">
            <!-- <img class="mdl-chip__contact" src="/templates/dashboard/images/user.jpg"></img> -->
            <span style="font-weight: 800;" class="mdl-chip__text">Models</span>
          </span>
          <template v-for="w in windows">
            <span style="cursor: pointer;" class="mdl-chip mdl-chip--contact mdl-chip--deletable" :key="w.id" @click="selectWindow(w)">
              <!-- <img class="mdl-chip__contact" src="/templates/dashboard/images/user.jpg"></img> -->
              <span class="mdl-chip__text">{{' ' + w.name}}</span>
              <a href="#" @click="removeWindow(w)" class="mdl-chip__action"><i class="material-icons" style="vertical-align: top;">cancel</i></a>
            </span>
          </template>

          <!-- Right aligned menu below button -->
          <button v-show="imjoy && apps" id="demo-menu-lower-right"
          class="mdl-button mdl-js-button primary-color">
          <i class="material-icons">extension</i>
          <span class="hide-small">BioEngine Apps</span>
          </button>

          <ul v-show="imjoy" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="demo-menu-lower-right" id="plugin-menu">
            <li class="mdl-menu__item" v-for="(app, k) in apps" :key="app.name" @click="runManyModels(app)">
              <i class="material-icons" v-if="!app.config.icon">extension</i>
              <img v-else-if="app.config.icon.startsWith('http')" class="material-icons app-icons" :src="app.config.icon" />
              <i class="material-icons" v-else>{{app.config.icon}}</i>
              {{app.name}}
            </li>
            <li class="mdl-menu__item" @click="$refs.file_select.click();">
                <i class="material-icons">add</i> Load Local App
              <input
                style="display:none;"
                type="file"
                @change="fileSelected"
                ref="file_select"
                multiple
              />
            </li>
          </ul>
        </div>
      </header>
      <div ref="progressbar" class="mdl-progress mdl-js-progress"></div>
      <main class="mdl-layout__content">
        <div v-show="loading" class="floating mdl-spinner mdl-js-spinner is-active"></div>
        <div  class="page-content">
          <!-- Your content goes here -->
          <div v-show="!show_models" class="mdl-grid whiteboard" id="whiteboard">
            <template v-for="w in windows">
              <div :id="w.iframe_container" v-show="selected_window === w" class="plugin-iframe"></div>
            </template>
          </div>
          <div v-if="show_models" class="mdl-grid">
            <div class="mdl-cell--6-col mdl-cel" style="padding: 0 2rem">
              <h5> # Models: {{getModelsCount()}}
                <a id="add-model" href="https://github.com/bioimage-io/models#how-to-contribute-new-models" target="_blank"
                  class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                  <i class="material-icons">add</i>
                  <div class="mdl-tooltip" data-mdl-for="add-model">
                    Add your model to the repository by sending us a Pull Request on Github.
                  </div>
                </a></h5>

              <template id="label-selector" v-if="allLabels && allLabels.length>0">
                <div class="labels-wrapper">
                  <p v-if="filters.length">
                    Selected {{filters.length}} filter(s)
                    <a class="label" v-if="filters.length" style="background:  rgba(33,150,243,.26); "
                      @click="clearAllFilters">
                      <i class="material-icons delete">delete</i>
                      Clear
                    </a>
                  </p>
                  <a v-for="label in allLabels" class="label" @click="addRemoveToFilters(label)"
                    v-bind:class="{ active: checkActive(label) }" v-if="getLabelCount(label) > 0">
                    {{label}}
                    <small class="label-count">{{getLabelCount(label)}}</small>
                  </a>
                </div>
              </template>
            </div>
          </div>


          <ul v-if="show_models" class="mdl-grid">
            <li class="mdl-cell mdl-cell--4-col" v-for="(model, id) in filteredModels">
              <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="background" :style="{backgroundImage: 'url(' + model.cover_image + ')'}">
                  <div class="mdl-card__menu">
                    <a :href="model.config_url" target="_blank" :id="id + 'repo'" v-if="model.config_url">
                      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">code</i>
                      </button>
                    </a>
                    <div class="mdl-tooltip" :data-mdl-for="id + 'repo'">
                      source code
                    </div>
                    
                    <template v-for="app_key in model.applications">
                      <a  :id="id + app_key" :key="id + app_key" v-if="apps[app_key]">
                        <button @click="runOneModel(apps[app_key], model)" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                          <i class="material-icons" v-if="!apps[app_key].config.icon">extension</i>
                          <img v-else-if="apps[app_key].config.icon.startsWith('http')" class="material-icons app-icons" :src="apps[app_key].config.icon" />
                          <i class="material-icons" v-else>{{apps[app_key].config.icon}}</i>
                        </button>
                      </a>
                      <div class="mdl-tooltip"  :key="id + app_key + 'tooltip'" :data-mdl-for="id + app_key" v-if="apps[app_key]">
                        model application: {{app_key}}
                      </div>
                    </template>

                    <a :href="model.download_url" :id="id + 'www'" v-if="model.download_url">
                      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">vertical_align_bottom</i>
                      </button>
                    </a>
                    <div class="mdl-tooltip" :data-mdl-for="id + 'www'">
                      Download {{model.name}}
                    </div>

                    <a @click="share(model)" :id="'share'+id">
                      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                        <i class="material-icons">share</i>
                      </button>
                    </a>
                    <div class="mdl-tooltip" :data-mdl-for="'share'+id">
                      Share {{model.name}}
                    </div>
                  </div>
                </div>
                <div class="mdl-card__supporting-text">
                  <span class="authors">
                    {{ model.authors ? 'by ' + etAl(model.authors) : '' }}
                  </span>
                  <div class="mdl-grid">
                    <div v-if="model.tags">
                      <i class="material-icons" :id="id + 'labelTag'">label</i>
                      <div class="mdl-tooltip" :data-mdl-for="id + 'labelTag'">
                        Tags
                      </div>
                      <span v-for="tag in model.tags">
                        <a class="label" @click="addRemoveToFilters(tag)"
                          v-bind:class="{ active: checkActive(tag) }">{{ tag }}</a>
                      </span>
                    </div>
                    <div v-if="model.labels">
                      <i class="material-icons" :id="id + 'label'">bookmark_border</i>
                      <div class="mdl-tooltip" :data-mdl-for="id + 'labelIcon'">
                        Labels
                      </div>
                      <span v-for="label in model.labels">
                        <a class="label" @click="addRemoveToFilters(label)"
                          v-bind:class="{ active: checkActive(label) }">{{ label }}</a>
                      </span>
                    </div>
                    <div v-if="model.license">
                      <i class="material-icons" :id="id + 'labelLicense'">copyright</i>
                      <div class="mdl-tooltip" :data-mdl-for="id + 'labelLicense'">
                        License
                      </div>
                      <span>
                        <a class="label" @click="addRemoveToFilters(model.license)"
                          v-bind:class="{ active: checkActive(model.license) }">{{ model.license }}</a>
                      </span>
                    </div>
                    
                  </div>
                </div>
                <div class="mdl-card__actions mdl-card--border mdl-card--bottom model-info" @click="showInfo(model)">
                  <h3 class="mdl-card__title-text" style="color: #ffffff">
                    {{model.name.slice(0,30)}}
                  </h3>
                  <span v-if="model.description"> {{ model.description.slice(0, 100) }}</span><br>
                  <!-- <span class="mdl-chip__text">{{model.repo}}</span></div> -->

                </div>
            </li>
          </ul>

          <footer v-if="show_models" class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
              <ul class="mdl-mini-footer__link-list">
                <li>Adapted from <a href="https://p.migdal.pl/interactive-machine-learning-list/" target="_blank">interactive-machine-learning-list</a> by Migdał et. al.</li>
                <li><a href="https://github.com/bioimage-io/models" target="_blank">
                  <img src="/assets/github.svg" style="width: 20px; height:20px;margin-right:3px;"></img>Model
                  Repository</a>
                </li>
              </ul>
            </div>
          </footer>
        </div>
      </main>

    </div>
    <dialog class="mdl-dialog" ref="window_dialog">
      <div class="mdl-dialog__title" v-if="dialog_window">
        <i v-if="selected_model.icon" class="material-icons">{{dialog_window.icon}}</i>
        <i v-else class="material-icons">extension</i>
        {{dialog_window.name}}
        <div style="top: 0px; position: absolute; right:0px;">
          <button type="button" class="mdl-button close-btn" @click="closeDialog()"><i class="material-icons">clear</i></button>
        </div>
      </div>
      
      <div class="mdl-dialog__content plugin-iframe-container">
        <div id="window-dialog-container" class="plugin-iframe"></div>
      </div>
    </dialog>
    <dialog class="mdl-dialog" ref="model_info_dialog"
      :style="selected_model.cover_image || selected_model.docs?'height: 80%; ': 'height: 400px;'">
      <h4 class="mdl-dialog__title">
        <i v-if="selected_model.icon" class="material-icons">{{selected_model.icon}}</i>
        <i v-else class="material-icons">extension</i>
        {{selected_model.name}}
        <div style="top: 0px; position: absolute; right:0px;">
          <button type="button" class="mdl-button close-btn" @click="closeInfo()"><i class="material-icons">clear</i></button>
        </div>
      </h4>

      
      <div class="mdl-dialog__content">

        <p>
          <span class="label" v-if="selected_model.version">
            v{{selected_model.version}}
          </span>
          <span v-for="label in selected_model.allLabels" class="label">
            {{label}}
          </span>
          <span class="mdl-chip">
            <a class="mdl-chip__text" target="_blank" :href="'https://bioimage.io?model=' + encodeURI(selected_model.name)">https://bioimage.io?model={{encodeURI(selected_model.name)}}</a>
          </span>
        </p>
        <p>
          {{selected_model.description}}
        </p>
        <img style="width: 100%; max-width: 100%; max-height: calc(100% - 64px);"
          :src="selected_model.cover_image"></img>

        <div v-if="selected_model.docs === '@loading...'" class="mdl-spinner mdl-js-spinner is-active"></div>
        <div v-else-if="selected_model.docs" v-html="selected_model.docs"></div>
        <!-- <pre><code class="html" v-html="selected_model.source_code"></code></pre> -->

      </div>

      <div class="mdl-dialog__actions">
        <a class="mdl-button mdl-button--primary" :href="selected_model.download_url">Download</a>
        <a class="mdl-button"  target="_blank" :href="selected_model.config_url">Show Config</a>
      </div>
    </dialog>

    <div ref="message_snackbar" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text">{{snack_message}}</div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <!--app end-->
  </div>
  <script src="/src/main.js"></script>
  <script src="https://imjoy.io/imjoy-core.js"></script>
  <script src="/assets/snackbar.js"></script>
</body>

</html>
